PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=y0rZ07UsAQOSO6vtQrC2-E6Tz4QZBHsv
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=12345
PG_DB_NAME=i4digital
TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXlQaHJhc2UiOiJBcnJveiJ9.KYbWcx1gDX_dNFgTYJ0yAHxQMBV_CRP3cEo-Qh9KqPM
PHRASE_KEY=Arroz